{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin Dashboard' %}

{% block page_content %}


    <div class="container">
    
      
        {% set count = 0 %}
     
            {% for client in clients %}
              {% set count = count + 1 %}
            {% endfor %}
             <h2>Clients</h2>
            <p> {{count }} </p>
    
           
         {% set count = 0 %}        
         {% for job_offer in job_offers %}
         {% set count = count + 1 %}
         {% endfor %}         
            <h2>Job</h2>
         <p>{{ count }}</p>
              {% set count = 0 %}
              {% for candidate in candidates %}
              {% set count = count + 1 %}
              {% endfor %}
              <h2>Candidate</h2>
              <p>{{ count }}</p>
         
            
   
          
        </ul>
  </div>   


 </div>
{% endblock %}