{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Admin Dashboard' %}

{% block page_content %}


    <div class="container">
     <h2>Clients</h2>
    <div class="card">
      
        {% set count = 0 %}
        {% set count = count + 1 %}
            {% for client in clients %}
            <p> {{count }} </p>
            {% endfor %}
      </div>
              <h2>Job</h2>
         {% set count = 0 %}        
         {% for job_offer in job_offers %}
         {% set count = count + 1 %}
         {% endfor %}
         <div class="card">
         <p>{{ count }}</p>
         </div>
              {% set count = 0 %}
              {% for candidate in candidates %}
              {% set count = count + 1 %}
              {% endfor %}
              <h2>Candidate</h2>
          <div class="card">
            <p>{{ count }}</p>
          </div>
            
   
          
        </ul>
  </div>   


 </div>
{% endblock %}